body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./resources/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1, 156, 152);
}

h1 {
    height: 150px;
    width: 584px;
    background-image: url("./resources/header.png");
}

.main {
    height: 850px;
    width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watercolor {
    height: 120px;
    width: 321px;
    background-image: url("./resources/watercolor.png");
}

.penAndInk {
    height: 120px;
    width: 366px;
    background-image: url("./resources/pen&ink.png");
}

.sculpture {
    height: 120px;
    width: 281px;
    background-image: url("./resources/sculpture.png");
}

.mixedMedia {
    height: 120px;
    width: 427px;
    background-image: url("./resources/mixed_media.png");
}

.digital {
    height: 120px;
    width: 236px;
    background-image: url("./resources/digital.png");
}

.about {
    height: 120px;
    width: 190px;
    background-image: url("./resources/about.png");
}
